
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  /* height: 100vh; */
  /* background-attachment: fixed; */
  /* background: url('./img/coins-for-bg4.jpg'); */
  background-size: cover;
  background-attachment: fixed;

  font-family: 'Roboto', sans-serif;
  /* background: url('./img/coins-for-bg.jpg');
  background-size: cover; */
  /* opacity: 0.2; */
  /* display: flex;
  justify-content: center; */
  margin: 0;
  
  /* background-color: yellowgreen; */
  /* background-color: #EDF0F5; */
}

* {
  box-sizing: border-box;
}

.App {
  max-width: 1180px;
  /* height: 100%; */
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0);
  min-height: 100vh;  
  background-color: white;
  /* background-color: black;
  color: white; */
}
/*Header style---------------------------------------------------*/

a {
  color: black;
}

/*---------------------------------------------------------------*/

